* {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}

#btn-canva-control {
    font-size: 50px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    top: 20px;
    left: 10px;
}

nav {
    height: 100vh;
    width: 270px;
    background-color: red;
    position: fixed;
    z-index: 1;
    top: 0;

}

.canva-toggler {
    left: -270px;
    z-index: 1;
;
}

.logo-img {
    width: 270px;
    position: relative;
    top: 5%;
    transition: all 0.5s;
}
