<footer>
  
  <div id="footer__itens">
    <h1 id="footer__h1">WeSantos</h1>
    <i class="bi bi-facebook ss"></i>
    <i class="bi bi-instagram ss"></i>
    <i class="bi bi-reddit ss"></i>
  </div>
</footer>
