<section id="initial--section">
  <div class="midle-div-home">
    <h1 class="home--h1"><span class="square-1">U</span>rban Way.</h1>
    <h2 class="home--h2">
      <span class="square-2">seu estilo, sua identidade!</span>
    </h2>
  </div>
</section>
