<section id="descubra">
    <h1 class="descubra--h1">
        #Descubra e apaixone-se!
    </h1>
    <div id="grid-images">
        <img src="img/top-img-1.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-2.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-3.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-4.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-5.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-6.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-7.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-8.jpg" alt="modelos" class="img-grid">
    </div>
</section>