<section id="descubra">
    <h1 class="descubra--h1">
        #Descubra e apaixone-se!
    </h1>
    <div id="grid-images">
        <img src="img/top-img-1.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-2.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-3.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-4.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-5.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-6.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-7.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-8.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-9.jpg" alt="modelos" class="img-grid">
        <img src="img/top-img-10.jpg" alt="modelos" class="img-grid">
    </div>

    <div id="hall--da--fama">
        <div id="side">
            <h1 class="hall--h1">hall da fama</h1>
            <p hall--h1>as imagens mais vistas do nosso site</p>
            <p hall--h1>vote na sua favorita!</p>
            <button hall--btn>Vote</button>
        </div>

        <div class="grid--hall">
            <img src="img/hall-1.jpg" alt="hall da fama" class="img--hall">
            <img src="img/hall-2.jpg" alt="hall da fama" class="img--hall">
            <img src="img/hall-3.jpg" alt="hall da fama" class="img--hall">
            <img src="img/hall-4.jpg" alt="hall da fama" class="img--hall">
        </div>
    </div>
</section>