<nav class="canva-toggler">
    <a href="/">
        <img src="/img/logo.png" class="logo-img">
    </a>
    <ul>
        <li>
            <a href="/login">
                <i class="bi bi-door-open"></i> Login
            </a>
        </li>
    </ul>
</nav>