<nav class="canva-toggler">
    <a href="/">
        <img src="/img/logo.png" class="logo-img">
    </a>
    <ul>
        <li>
            <a href="#descubra">
                <i class="bi bi-heart-fill"></i> Descubra
            </a>
        </li>

        <li>
            <a href="#precos">
                <i class="bi bi-currency-dollar"></i> Preços
            </a>
        </li>
        <li>
            <a href="/cadastro">
                <i class="bi bi-person"></i> Cadastre-se
            </a>
        </li>
        <li>
            <a href="/login">
                <i class="bi bi-door-open"></i> Login
            </a>
        </li>
    </ul>
</nav>