<nav class="canva-toggler">
    <a href="/">
        <img src="/img/logo.png" class="logo-img">
    </a>
    <ul>
        <li>
            <a href="/cadastro">
                <i class="bi bi-person"></i> Cadastre-se
            </a>
        </li>

    </ul>
</nav>