<div id="precos">
  <h1 class="precos__h1">preços</h1>
  <p class="precos__p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
    Alias, quas minima accusantium dignissimos ab, voluptate vero ullam, <br />
    repellat aliquam suscipit odio explicabo. Perspiciatis atque nobis, <br />
    delectus aspernatur minima quas Lorem ipsum dolor sit amet consectetur
    adipisicing elit. <br />
    Reprehenderit sed aspernatur placeat repudiandae culpa delectus! Saepe
    itaque?
  </p>

  <div id="cards">
    <div id="c__1">
      <div class="card_spec">
        <h1 class="card_title">Free</h1>
      </div>
      <div class="card_info">
        <p>R$0/ mês</p>
        <p>2 Downloads dia</p>
        <p>2Mb Limit</p>
        <p>Sem comentarios</p>
      </div>
      <div class="btn_send">
        <button class="btn btn__1">Entrar</button>
      </div>
    </div>

    <div id="c__2">
      <div class="card_spec btn__2">
        <h1 class="card_title">Premio</h1>
      </div>
      <div class="card_info">
        <p>R$0/ mês</p>
        <p>2 Downloads dia</p>
        <p>2Mb Limit</p>
        <p>Sem comentarios</p>
      </div>
      <div class="btn_send">
        <button class="btn btn__2">Entrar</button>
      </div>
    </div>

    <div id="c__3">
      <div class="card_spec btn__3">
        <h1 class="card_title">Empresas</h1>
      </div>
      <div class="card_info">
        <p>R$0/ mês</p>
        <p>2 Downloads dia</p>
        <p>2Mb Limit</p>
        <p>Sem comentarios</p>
      </div>
      <div class="btn_send">
        <button class="btn btn__3">Entrar</button>
      </div>
    </div>
  </div>
</div>
