<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <i class="bi bi-list" id="btn-canva-control"></i>
    <!--nav bar-->
    <%- include('layouts/menu'); -%>
    <section>
        <h1 class="error__h1">Página não encontrada!</h1>
        <img src="../../public/img/error-img.png" alt="Error" class="error__img">
    </section>
    <!--Footer-->
    <%- include('layouts/footer.ejs') %>
    <!--Scripts-->
    <%- include('layouts/script'); -%>
  </body>
</html>
